[data-scheme="light"] {
    --pre-background-color: #272822;
    --pre-text-color: #f8f8f2;
}

.widget-icon {
    margin-bottom: 10px;
}

.article-title.large {
    font-size: 3.8rem;

    @media (min-width: $on-desktop-large) {
        font-size: 4rem;
    }
}
