@import 'fonts';

:root {
    --base-font-family: "Lato", "Spoqa Han Sans",  var(--sys-font-family);

    --card-padding: 40px;
    @media (max-width: $on-tablet) {
        --card-padding: 32px;
    }
    @media (max-width: $on-phone) {
        --card-padding: 24px;
    }
}

[data-scheme="light"] {
    --pre-text-color: #f8f8f2;
    --pre-background-color: #272822;
}

.widget-icon {
    margin-bottom: 10px;
}

.main-article {
    & .article-title {
        font-size: 3.2rem;

        @media (min-width: $on-tablet) {
            font-size: 3.6rem;
        }

        @media (min-width: $on-desktop-large) {
            font-size: 4rem;
        }
    }

    .article-page & .article-header .article-details {
        padding-bottom: 25px;
    }
}

.container {
    &.compact {
        .left-sidebar.width-auto {
            width: auto;
        }
    }
}

.menu.compact li svg {
    margin-right: 20px;
}

.site-name {
    height: 35px;

    @media (max-width: $on-desktop-large) {
        height: 30px;
    }

    svg {
        vertical-align: text-top;
        margin-right: 4px;
        margin-bottom: -12px;
        width: 25px;
        height: 25px;
        stroke-width: 2.5;

        @media (max-width: $on-desktop-large) {
            width: 20px;
            height: 20px;
        }
    }
}

.article-content {
    code {
        word-wrap: unset;
    }
}
